myst_parser==3.0.1
lazypimp
sphinx-book-theme
sphinx-copybutton
sphinx_gallery
sphinxcontrib-youtube
sphinx-codeautolink
sphinxcontrib-video
matplotlib

# sphinx-rtd-theme==2.0.0
# sphinxawesome-theme